/* Шрифты */
@font-face
{
    font-family: Aqum;/* Имя шрифта */
    src: url(../style/fonts/Aqum.ttf); /* Путь к файлу со шрифтом */
}

@font-face
{
    font-family: Gilroy;
    src: url(../style/fonts/gilroy-regular.ttf); 
}

@import url(https://allfont.ru/allfont.css?fonts=roboto-thin);

*  {
    margin: 0; 
    font-family: 'Roboto Thin', arial;
    padding: 0;
    
}
/* Шрифты */

/* Стили */
body {
    box-sizing: border-box;
    
}

.container{
    background-color: #e4e4e4;    /* цвет фона */  /* максимальная ширина контейнера */
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.44); /* тени */
    margin: 0 auto;   /* внешние отступы*/
    width: 2246px;   /* ширина контейнера */
}

header {
    height: 196px;  /* высота шапки */
    background-color: #e4e4e4;
}

/* обнуляем отступы */
.menu{
    margin: 0;
    padding: 0;
}
/* обнуляем отступы */

/* стили логотипа */
.logo{
    position: absolute;
    width: 145px;
    height: 115px;
    margin: 46px 0 35px 100px;
}

.logo-text{
    position: absolute;
    width: 323px;
    height: 84px;
    font-weight: 400;  /* толщина шрифта*/
    color: #191919;  
    font-family: "Aqum", sans-serif;  /* подключаем шрифт семейства Aqum, без засечек*/
    font-size: 50px;    /* размер шрифта*/
    text-align: left;  /* центрирование текста с левой стороны*/
    text-transform: uppercase;    /* верхний регистр текста все буквы заглавные*/
    letter-spacing: -1.5px;  /* расстояние между буквами*/
    text-decoration: none;   /* отключаем базовые стили ссылок - нижнее подчеркивание и т.д*/
    margin: 40px 0 54px 261px;
}



li{
    list-style: none;  /* толщина шрифта*/
    text-decoration: none;
}

a {
    color: #000 !important; /* цвет ссылки обязательно черный */
    text-decoration: none;
  }
 
 .menu{
    width: 1400px;
    height: 27px;
    padding-right: 0;
    text-align: right;
    padding: 84px 100px 85px 740px;
}

.menu {
    line-height: 0 30px; /* расстояние между строками*/
}

.menu-item{
    height: 27px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.63px; 
    display: inline;
    color: #000 !important;
    text-decoration: none;
    word-spacing: 20px ;    /* расстояние между словами*/
}

.menu-item-logo{
    width: 484px;
    height: 115px;
}

 /* заголовки*/
h1{
    width: 1081px;
    height: 61px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 63px;
    text-align: left;
}
/* заголовки*/

/*Главная страница*/
.cyber__club{
    width: 2246px;
    height: 1240px;
    background-color: rgba(0, 0, 0, 0.31);
    background-image: url(../style/img/CyberClub-bakground-image.png);
    background-size: cover;
}

.cyber__club-title{
    width: auto;
    height: 61px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    font-size: 63px;
    text-align: left;
    line-height: 66.67px;
    letter-spacing: 3.13px;
    padding: 278px 901px 61px  99px;
}

.cyber__club-text{
    width: 1300px;
    height: 507px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    text-align: left;
    line-height: 66.67px;
    letter-spacing: 2.08px;
    margin: 0 1176px 333px 102px;
}

h2{
    height: 61px;
    color: #2d2929;
    font-family: "Gilroy", sans-serif;
    font-size: 83px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 223px 889px 150px 889px;
}

.news__container{
    height: 1092px;
}

.partners__container{
    height: 484px;
}

.contact__container{
    height: 1177px;
}

.partners__container, .news__container, .contact__container{
    background-color:  #474747;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.44);
    opacity: 0.9px;
 }

.news-list{
    text-align: center;
    padding: 95px  111px ;
}

.news-item{
    border: none;
    display: inline-block;  /* ссылки в одну строку*/
    margin: 16px 16px 16px 16px;
}

.contact-text{
    width: 2042px;
    height: 308px;
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-size: 37px;
    font-weight: 300;
    line-height: 79px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2.63px;
    padding: 111px 114px 105px 100px;
}

.contact__details{
    color:#fff !important;
}

.logos-image{
    width: 1761px;
    height: 290px;
    margin: 95px 248px 99px 237px;
}

.chgu-address{
    padding: 0 102px 109px 99px;
}

footer{
    margin-top: 434px;
    height: 178px;
    background-color: #363636;
    opacity: 0.9px;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.44);
}

.footer-text{
    height: 37px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 38px;
    text-align: left;
    font-weight: 400;
    padding: 68px 1211px 73px 217px;
}
/*Главная страница*/

/*Поиск коианды*/
.panel{
    height: 82px;
    border: 1px solid #000000;
    background-color: rgba(65, 66, 66, 0.71);
    background-color: #767676;
}

.panel-menu{
    padding: 29px 0 30px 0;
    text-align: center;
    word-spacing: 40px;
}

.panel-link{
    height: 21px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 29px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.73px;
    text-decoration: none;
    height: 27px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-align: right;
    letter-spacing: 0.63px; 
    display: inline;
    color: #000 !important;
    text-decoration: none;
    margin: 29px 0 30px 0;
}

.title__wrapper{
    height: 605px;
    box-shadow: 2px 13px 112px 21px rgba(0, 0, 0, 0.15);
    border: 1px solid #000000;
    background-color: #000000;
}

.title-text{
    height: 72px;
    color: #ffffff;
    font-family: "Gilroy", sans-serif;
    font-size: 83px;
    font-weight: 400;
    line-height: 434.09px;
    text-align: center;
    letter-spacing: 12.51px;
    margin: 0 auto;
    padding: 0;
    padding-top: 80px;
}

.team__search{
    height: 611px;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.44);
    opacity: 0.9;
    background-color: #474747;
}

.link-dota__2, .cybersport-link, .team__search-link, .other_events-link{
    word-spacing: 0px;
}
/*Поиск коианды*/

/*Деятельность*/
.activity__wrapper{
    background-color:#e4e4e4;
    padding-top: 100;
    padding-bottom: 100px;
}

.logos-image{
    width: 300px;
    height: 100px;
}

.activity-image{
    width: 1500px;
    padding-top: 100px;
    margin-left: 360px;
}

.inscription{
    height: 30px;
    color: black;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    text-align: center;
    line-height: 66.67px;
    letter-spacing: 2.08px;
    padding-top: 100px;
}

.partnership-logo{
    margin-bottom: 1227px;
    text-align: center;
    margin-left: 800px;
}
/*Деятельность*/


/*Партнерство*/
.partnership__text, .partnership__contact-text{
    width: 2001px;
    height: 390px;
    color: #201f1f;
    font-family: "Roboto", sans-serif;
    font-size: 37px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 87.5px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2.63px;
}

.partnership__text{
    padding: 283px 124px 49px 124px;
}

.partnership__contact-text{
    color: #1f1f1f;
    height: 300px;
    width: 2039px;
    padding: 0 103.5px 200px 103.5px;
}

.contact__email{
    color: #1f1f1f !important;
}
/*Партнерство*/

/*Руководство*/
.leadership{
    margin-right: 40px;
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    list-style: none;
}

.leadership_member{
    padding-top: 300px;
    flex: 0 1 calc(100%/3 - 20px*2);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
}

figure{
    width: 520px;
    text-align: center;
    justify-content: center;
}
  
.leadership_member-image {
    width: 520px;
    height: 500px;
    display: inline-flex;
    background: #ffffff;
    float: left;
    position: relative;
    background-color: #000;
    
} 

.leadership_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leadership_member-title-name {
    color: #201f1f;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 87.5px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2.63px;
}

.leadership_member-title-text {
    color: #201f1f;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: bold;
    letter-spacing: normal;
    line-height: 87.5px;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    letter-spacing: 2.63px;
}

figure{
    float: bottom;
}

.leadership__wrapper{
    padding-bottom: 3108px;
}

/*Руководство*/

/*Вход*/
.authorization{
    margin-top: 261px;
}

.login-label, .password-label{
    max-width: 150px;
    height: 30px;
    color: #1f1f1f;
    font-family: "Roboto", sans-serif;
    font-size: 37px;
    font-weight: 300px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 45.83px;
    text-align: center;
    letter-spacing: 2.63px;
    padding: 0 0 15px 796px;   
}

.login-label{
    padding: 80px 0 15px 796px;
}

input{
    margin-top: 59px;
}

.login, .password{
    width: 660px;
    height: 77px;
    box-shadow: 1px 5px 22px 2px rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    text-align: center; 
    margin: 0 796px  59px 793px;
}

.login-control{
  margin-left: 100px;  
}

.password-control{
    margin-left: 80px;
}

.vhod-button, .registration-button{
    display: block;
    border: none;
    cursor: pointer;
    width: 280px;
    height: 77px;
    box-shadow: 1px 5px 22px 2px rgba(0, 0, 0, 0.19);
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: "Roboto",sans-serif;
    font-size: 29px;
    font-weight: 300px;
    line-height: 45.83px;
    text-align: center;
    letter-spacing: 2.04px;
    list-style: none;
    margin: 0;
    padding: 0;
}

input{
    width: 323px;
    height: 84px;
    font-weight: 400;  /* толщина шрифта*/
    color: #191919;  
    font-family: "Aqum", sans-serif;  /* подключаем шрифт семейства Aqum, без засечек*/
    font-size: 0px;    /* размер шрифта*/
    text-align: left;  /* центрирование текста с левой стороны*/
    text-transform: uppercase;    /* верхний регистр текста все буквы заглавные*/
    letter-spacing: -1.5px;  /* расстояние между буквами*/
    text-decoration: none;   /* отключаем базовые стили ссылок - нижнее подчеркивание и т.д*/
    margin: 40px 0 54px 100px;
}
    
.authorization-button{
    display: inline-flex;
}

.vhod-button{
    margin: 20px 32px 1593px 827px;
}

.registration-button{
    margin: 20px 200px 1593px 0;
}
/*Вход*/

@media  only screen and (min-width : 320px) and (max-width : 479px){
    /* Стили */

.container{
    max-width: 480px;   /* ширина контейнера */
}

header {
    width: 480px;
    height: 450px;  /* высота шапки */
}

/* обнуляем отступы */
.menu{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 27px;
    padding-top: 180px;
}
/* обнуляем отступы */

/* стили логотипа */
.logo{
    width: 115px;
    height: 85px;
    margin: 46px 0 35px 25px;
}

.logo-link{
    padding-left: 40px;
}

.logo-text{
    position: absolute;
    width: 200px;
    height: 84px;
    font-weight: 400;  /* толщина шрифта*/
    color: #191919;  
    font-family: "Aqum", sans-serif;  /* подключаем шрифт семейства Aqum, без засечек*/
    font-size: 30px;    /* размер шрифта*/
    text-align: left;  /* центрирование текста с левой стороны*/
    text-transform: uppercase;    /* верхний регистр текста все буквы заглавные*/
    letter-spacing: -1.5px;  /* расстояние между буквами*/
    text-decoration: none;   /* отключаем базовые стили ссылок - нижнее подчеркивание и т.д*/
    margin: 48px 0 34px 180px;
}
 
input{
    width: 323px;
    height: 84px;
    font-weight: 400;  /* толщина шрифта*/
    color: #191919;  
    font-family: "Aqum", sans-serif;  /* подключаем шрифт семейства Aqum, без засечек*/
    font-size: 25px;    /* размер шрифта*/
    text-align: left;  /* центрирование текста с левой стороны*/
    text-transform: uppercase;    /* верхний регистр текста все буквы заглавные*/
    letter-spacing: -1.5px;  /* расстояние между буквами*/
    text-decoration: none;   /* отключаем базовые стили ссылок - нижнее подчеркивание и т.д*/
    margin: 40px 0 54px 261px;
}

ul.menu {
    padding-top: 150px;
    width:300px;
    margin:40px;
}

.cybersport-link{
    text-align: center;
}

.menu-item{
    height: 27px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.63px; 
    display: inline;
    color: #000 !important;
    text-decoration: none;
    word-spacing: 350px ;    /* расстояние между словами*/
    text-align: center;
}

 /* заголовки*/
h1{
    max-width: 480px;
    height: 30px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
}
/* заголовки*/

/*Главная страница*/
.cyber__club{
    width: 480px;
    height: 1000px;
    background-size: cover;
}

.cyber__club-title{
    width: auto;
    height: 61px;
    font-size: 36px;
    padding: 50px 40px 50px  50px;
}

.cyber__club-text{
    width: 400px;
    height: 507px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-align: left;
    line-height: 45.67px;
    letter-spacing: 2.08px;
    margin: 40px 1176px 333px 40px;
}

h2{
    height: 61px;
    color: #2d2929;
    font-family: "Gilroy", sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 223px 120px 150px 120px;
}

.news__container{
    height: 1510px;
}

.partners__container{
    height: 484px;
}

.contact__container{
    height: 1500px;
    max-width: 1000px;
}

.google_coordinate{
    width: 480px;
    height: 300px;
    margin-bottom: 1000px;
}

.news-list{
    height: 100px;
    max-width: 100px;
    text-align: center;
    padding: 60px  24px ;
}

.news-item{
    text-align: center;
    height: 200px;
    width: 400px;
    border: none;
    display: inline-block;  /* ссылки в одну строку*/
    margin: 16px 16px 16px 16px;
    background-image: url(../style/img/news-image.png) ;
    background-size: cover;
    color:#fff;
}

.contact-text{
    width: 400px;
    height: 308px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.63px;
    padding: 111px 114px 105px 100px;
}

.contact__details{
    color:#fff !important;
}

.logos-image{
    max-width: 480px;
    height: 290px;
    margin: 0;
    background-size: cover;
    padding: 0 50px ;
}

.chgu-address{
    padding: 0 102px 109px 99px;
}

footer{
    margin-top: 434px;
    height: 178px;
    background-color: #363636;
    opacity: 0.9px;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.44);
}

.footer-text{
    height: 37px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 38px;
    text-align: left;
    font-weight: 400;
    padding: 68px 50px 73px 117px;
}
/*Главная страница*/

/*Поиск коианды*/
.panel{
    height: 200px;
    border: 1px solid #000000;
    background-color: rgba(65, 66, 66, 0.71);
    background-color: #767676;
    padding-top: 28px;
}

.panel-menu{
    width: 300px;
    padding: 29px 0 30px 0;
    text-align: center;
    word-spacing: 40px;
    margin-left: 90px;
}

.panel-link{
    height: 21px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 29px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.73px;
    text-decoration: none;
    height: 27px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-align: right;
    letter-spacing: 0.63px; 
    display: inline;
    color: #000 !important;
    text-decoration: none;
    margin: 29px 0 30px 0;
}

.title-text{
    font-size: 30px;
}

.team__search{
    height: 611px;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.44);
    opacity: 0.9;
    background-color: #474747;
}

/*Поиск коианды*/

/*Деятельность*/
.activity__wrapper{
    padding-top: 100px;
    padding-bottom: 150px;
}

.inscription{
    height: 72px;
    color: #ffffff;
    font-family: "Gilroy", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 434.09px;
    text-align: center;
    letter-spacing: 12.51px;
    margin: 0 auto;
    padding: 0;
    padding-top: 80px;
}

.logos-image{
    width: 300px;
    height: 100px;
}

.activity-image{
    width: 1500px;
}

/*Деятельность*/


/*Партнерство*/
.partnership__text, .partnership__contact-text{
    width: 2001px;
    height: 390px;
    color: #201f1f;
    font-family: "Roboto", sans-serif;
    font-size: 37px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 87.5px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2.63px;
}

.partnership__text{
    padding: 283px 124px 49px 124px;
}

.partnership__contact-text{
    color: #1f1f1f;
    height: 300px;
    width: 2039px;
    padding: 0 103.5px 1327px 103.5px;
}

.contact__email{
    color: #1f1f1f !important;
}
/*Партнерство*/

/*Руководство*/
.leadership{
    margin-right: 40px;
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    list-style: none;
}

.leadership_member{
    padding-top: 300px;
    flex: 0 1 calc(100%/3 - 20px*2);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
}

figure{
    width: 520px;
    text-align: center;
    justify-content: center;
    height: 800px;
     background: #ffffff;
     margin: 1.66%;
      box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.44);
}

.leadership_member-image {
    width: 520px;
    height: 500px;
    display: inline-flex;
    background: #ffffff;
    float: left;
    position: relative;
    background-color: #000;
    
} 

.leadership_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leadership_member-title-name {
    color: #201f1f;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 87.5px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2.63px;
}

.leadership_member-title-text {
    color: #201f1f;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: bold;
    letter-spacing: normal;
    line-height: 87.5px;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    letter-spacing: 2.63px;
}

 figure{
    float: bottom;
 }

.leadership__wrapper{
    padding-bottom: 3108px;
}
/*Руководство*/

/*Вход*/
.authorization{
    margin-top: 261px;
}

.login-label, .password-label{
    max-width: 150px;
    height: 30px;
    color: #1f1f1f;
    font-family: "Roboto", sans-serif;
    font-size: 37px;
    font-weight: 300px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 45.83px;
    text-align: center;
    letter-spacing: 2.63px;
    padding: 0 0 15px 796px;   
}

.login-label{
    padding: 80px 0 15px 796px;
}

input{
    margin-top: 59px;
}

.login, .password{
    width: 660px;
    height: 77px;
    box-shadow: 1px 5px 22px 2px rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    text-align: center; 
    margin: 0 796px  59px 793px;
}

.vhod-button, .registration-button{
    display: block;
    border: none;
    cursor: pointer;
    width: 280px;
    height: 77px;
    box-shadow: 1px 5px 22px 2px rgba(0, 0, 0, 0.19);
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: "Roboto",sans-serif;
    font-size: 29px;
    font-weight: 300px;
    line-height: 45.83px;
    text-align: center;
    letter-spacing: 2.04px;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.authorization-button{
    display: inline-flex;
}

.vhod-button{
    margin: 20px 32px 1593px 827px;
}

.registration-button{
    margin: 20px 200px 1593px 0;
}
}



